ion-input {
    background-color: #ffffff !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  
  #map_canvas {
    margin-top: 15px;
  }
  
  #searchTest {
      padding: 10 10 10 10;
  }